{% extends "layout.twig" %}

{% block title %}
    Shop Manager
{% endblock %}

{% block body %}
    <section class="hero is-small is-link mb-4">
        <div class="hero-body">
            <div class="container">
                <p class="title">Shop Manager</p>
            </div>
        </div>
    </section>
{% endblock %}
