<header>
  <ul>
    <li><a href="http://www.journy.app/">Home</a></li>
    <li><a href="http://www.journy.app/pricing">Pricing</a></li>
    <li><a href="http://sub.www.journy.app/sign-up">Sign Up</a></li>
    <li><a href="http://www.journy.app/ebooks">Ebooks</a></li>
  </ul>
</header>
